.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.nav-container {
  grid-rows: auto;
}

.nav-container > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-container > ul > li {
  float: left;
}

.nav-container > ul > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.home {
  display: flex;
  float: right;
  justify-content: space-between;
}

.el {
  margin: 10px ;
}
